.calendarContainer {
  &__money {
    white-space: nowrap; /* テキストを折り返さない */
    overflow: hidden; /* はみ出したテキストを隠す */
    text-overflow: ellipsis; /* はみ出したテキストの代わりに省略記号を表示 */
  }

  &__eventIncome {
    color: #2196f3;
  }

  &__eventExpense {
    color: #f44336;
  }

  &__eventBalance {
    color: #4caf50;
  }
}
